.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
}

.clearfix::after {
  clear: both;
}